.play-list-item {
  width: 250px;
}

.img-wrap {
  height: 100px;
  background: no-repeat 50% 0;
  -webkit-background-size: contain;
  background-size: contain;
}

.video-item {
  max-height: 75%;
  background: #000;
}

.cursor-pointer {
  cursor: pointer;
}

.video-wrap {
  width: 100%;
  height: fit-content;
}

.player-wrap {
  height: 60vh;
}

.play-list-wrap {
  height: 35vh;
  overflow-y: scroll;
}

.bottom-0 {
  bottom: 0;
}

.add-movie-button {
  width: 35px;
  height: 35px;
  left: 15px;
  top: 15px;
  background: url(../../assets/add.png) 50% 50% no-repeat white;
  background-size: contain;
  border: 2px solid black;
  cursor: pointer;
}

@media (min-width: 760px) and (max-width: 990px) {
  .player-wrap {
    height: 500px;
  }

  .play-list-wrap {
    height: auto;
    overflow-y: visible;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 300px) and (max-width: 760px) {
  .player-wrap {
    height: 450px;
  }

  .play-list-wrap {
    height: auto;
    overflow-y: visible;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .video-item {
    min-height: 200px;
  }
}
