.play-list-item {
  padding-right: 30px!important;
  padding-left: 30px!important;
  width: 250px;
  max-height: 170px;
}

.main-wrap {
  height: 100vh;
}

.img-wrap {
  height: 100px;
  background: no-repeat 50% 50%;
  -webkit-background-size: contain;
  background-size: contain;
}

.video-item {
  max-height: 75%;
  background: #000;
}

.cursor-pointer {
  cursor: pointer;
}

.video-wrap {
  width: 100%;
  height: fit-content;
}

.player-wrap {
  height: 60%;
  overflow-y: auto;
}

.play-list-wrap {
  height: 37%;
  overflow-y: auto;
  cursor: default!important;
}

.bottom-0 {
  bottom: 0;
}

.add-movie-button {
  z-index: 100;
  width: 25px;
  height: 25px;
  left: 10px;
  top: 10px;
  background: url(../../assets/add.png) 50% 50% no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: 500ms;
}

.add-movie-button:hover {
  width: 35px;
  height: 35px;
  left: 5px;
  top: 5px;
  transition: 500ms;
}

.delete-button {
  width: 15px;
  height: 15px;
  right: 10px;
  top: 10px;
  background: url(../../assets/delete.png) 50% 50% no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  transition: 500ms;
}

.delete-button:hover {
  width: 20px;
  height: 20px;
  right: 7.5px;
  top: 7.5px;
  transition: 500ms;
}

@media (min-width: 760px) and (max-width: 990px) {
  .player-wrap {
    height: auto;
  }

  .play-list-wrap {
    height: auto;
    margin-bottom: 10px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 300px) and (max-width: 760px) {
  .player-wrap {
    height: auto;
  }

  .play-list-wrap {
    height: auto;
    margin-bottom: 10px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .video-item {
    min-height: 200px;
  }
}
