/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

.app-container-wrap {
  height: 100vh;
}

@media (max-width: 1000px) {
  height: 100%;
}

@media (min-width: 300px) and (max-width: 760px) {
  .app-container-wrap {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;
  }
}

